.idea/
.devbox/
.direnv/
.vscode/

frontend/node_modules
frontend/dist
frontend-public/node_modules
backend/blog.exe
backend/vexgo
backend/blog.db
backend/data/
backend/internal/public/dist/
backend/internal/public/defaulttheme/
data/
.env
result

.DS_Store
backend/.DS_Store
frontend/.DS_Store

uploads/

scripts/api_test.sh
